# dependencies
/node_modules
/.pnp
.pnp.js

ipfs-server-data
electron/
node_modules/
private_key.pem

/.vscode/launch.json
/utils
utils/files.json

/squidcoinFiles
squidcoinFiles/

/utils
utils/files.json

/squidcoinFiles
squidcoinFiles/

/btcwallet.exe
btcwallet/btcwallet.exe
